.header-image {
    width: 90%;               
    height: 223px;
    margin:0 5%;            
    background-size: cover;   
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;        
    border-radius: 25px;
    opacity: 60%;
  }
  
  h1 {
    font-size: 3rem; 
    color: white;            
  }
  