.locations {
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  @media screen and (min-width: 425px) {
    .locations {
      grid-template-columns: repeat(2, 3fr);
    }
  }

  @media screen and (min-width: 768px) {
    .locations {
      grid-template-columns: repeat(3, 3fr);
    }
  }