.locations {
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 1);
  }
.locations li {
    width: 340px;
    height: 340px;
    margin: 15px;
  }


.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
  @media screen and (min-width: 425px) {
    .locations {
      grid-template-columns: repeat(2, 3fr);
    }
  }

  @media screen and (min-width: 768px) {
    .locations {
      grid-template-columns: repeat(3, 3fr);
    }
  }