.location-card {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: flex-end;
}