.location-card {
    height: 340px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: flex-end;
    text-align: start;
    font-size: 18px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    }
}
.location-card p{
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}
