.location-card {
    width: 340px;
    height: 340px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: flex-end;
    text-align: start;
    font-size: 18px;
}
.location-card p{
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}
