.error-page {
    .container {
        text-align: center;
    }

    img {
        display: block;
        max-width: 567px;
        margin: auto;
    }

    p {
        color: #FF6060;

    }

    a {
        text-decoration: underline;
    }
}