.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider {
        display: flex;
        list-style: none;
        padding: 0;
        height: 415px;
    }

    .slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }

    .buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;                
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button {
        background: transparent;
        border: none;
    }

    .counter {
        position: absolute;
        text-align: center;
        width: 100%;
        color: white;
        bottom: 10px;
    }
}